# Week-1-Workshops
## Instructions and Requirements:
This workshops is | divided into two different notebooks:
  *    22L5W0: Revision of some basic concepts in python programming language. (Prerequisites)
  *    22L5W1: Descriptive Statisitics-Numerical Approach
      *   Measurement of Central Tendency
        *   Mean, Median, Mode
      *   Measurement of Dispersion
        *   Variance and standard Deviation
  ## Requirements:
    *   Notebook Environment(Jupyter or Google Colab)

*   Author: Siman Giri

# Section-1: python basics

### Arithematic Operations in Python:
Python supports the usual arithmetic operators: + (addition), * (multiplication), / (division), ** (power), // (integer division).

Questions:

1) Define and store a number/integer in a variable x.

2) Print the type of variable x.

3) Add 2 to given variable x.

4) Subtract 3 from varaible x.

5) Multiply the variable x with 2.

6) Find the power 2 or exponenetial of the varaible x.

In [2]:
# Your solutions here:
x = 10
print(x)

x += 2

x -= 3

x *= 2

print(x**2)

10
324

###Strings in Python:
Questions:

1) Define a strings " hello"  and store in the variable.

2) Concatenate the strings "world" with above strings and store it in the new variable.

3) Convert the strings"hello" in capital or convert it into uppercase.

4) Right justify a string, "hello" i.e. add a spce in the right of the string.

5) Replace the letter "e" from the string "hello" with "a".

In [6]:
# Your solutions here:

name = "hello"

name1 = name + "world"

name2 = name + " " + "world"

print(name.upper())

print(name.replace("e","a"))

HELLO
hallo

## Some basic data structure in Pyhon:

### Lists:
A list is the python equvalent of an array, but is resizeanle and can contain elemements of different types:

In [ ]:
# Create a list:
x = [3, 1, 2]
# print whole list.
print(x)

[3, 1, 2]

In [ ]:
# Print first and list element of the list x.
# your code here:

In [ ]:
# List can take elements of different types, add "hello" in list x.
# your code here:
x.append('foo')
print(x)

[3, 1, 2, 'foo']

Questions:

Write a program that add two list indexwise:

Inputs: 

list1 = ["T", "i" , "a" , "appl"]

list2 = ["his",  "s",  "n" , "e"]

Output:

newlist = ["This" , "is" , "an", "apple"]

In [12]:
# your solution here
list1 =  ["T", "i" , "a" , "appl"]
list2 = ["his", "s", "n" , "e"]


# declaring a new array
newlist = []

# loop to apped the previous arrays in a new list
for i in range(0,len(list1)):
  newlist.append(list1[i]+list2[i])


print(newlist)

['This', 'is', 'an', 'apple']

Write a program to remove a value 3 with 6 in the following lists.

Input:

list2 = [5,3, 7, 8]

Output:

newlist = [5, 6, 7, 8]

In [16]:
# your solutions here
list2 = [5,3, 7, 8]
list2[1] = 6
print(list2)

[5, 6, 7, 8]

###List Slicing:
Questions:

1) Given the list nums.
  *   Slice from index 2 - 4.
  *   Slice from index 2 - end.
  *   Slice from start to index 2.
  *   Assign a new sublist to a slice.

In [25]:
nums = list(range(5))
# your solutions here:

num1 = nums[2:4]
num2 = nums[2:]
num3 = nums[:2]

num = num1 + num2 + num3

print(num)

[2, 3, 2, 3, 4, 0, 1]

### Dicitionary:

Questions:

1) Create at lesat two  dicitionary of your choice, with minimum three keys and three values.

2) Concatenate the above created dicitionary into one dicitionary.

3) Write a program to check whether a key is present in dictionary or not.

In [36]:
# your solutions here:
dictionary1 = {
    "samir":"shrestha",
    "prabin":"kandel",
    "krishu":"dhakal"
}
dictionary2 = {
    "rohan":"shrestha",
    "pabitra":"dharel",
    "susma":"shrestha"
}

dictionary1.update(dictionary2)

def check(key,dictionary):
  for key in dictionary.keys():
    return True
  else:
    return False

check("krishu",dictionary1)

True

### Functions and Conditionals

Questions:

1) Create a function, which checks a number and return "positive" if number is more than 3 else return "negative"

2) Creata a function to return square of input.

In [42]:
def sign(x):
  """
  x: is a input to be checked.
  """
  # your solutions here:
  if(x >3):
    return "positive"
  else:
    return "negative"

In [43]:
# Check the solutions
for x in [-1, 0, 4]:
    print(sign(x))

negative
negative
positive

In [45]:
# your solutions for Question 2.
def square(x):
  return x**2

print(square(2))

4